@use "../palette.scss" as *;

#portfolio {
    .section-content {
        .collapsible-titles {
            display: flex;
            flex-wrap: wrap;
            gap: 20px 30px;
            margin-bottom: 20px;

            .collapsible-title {
                background: transparent;
                font-weight: bold;
                padding: 0;
                border-radius: 0;
                padding-bottom: 5px;
                border-bottom: 1px solid $sectionBorder;
                &.open {
                    color: $green;
                    border-bottom-color: rgba($green, 0.5);
                }
            }
        }

        .projects {
            overflow: visible;
            a {
                border-radius: 50px;
                padding: 5px 15px;
                font-size: 15px;
                display: flex;
                align-items: center;
                margin: 15px 0;
                width: max-content;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    transition: all 0.4s ease;
                }
                &.upwork {
                    background-color: black;
                    color: white;
                    .icon-wrapper {
                        transform: scale(0.65);
                    }
                }
                &.view-essence {
                    background-color: #232542;
                    color: #84a6ed;

                    .icon-wrapper {
                        transform: scale(1.4);
                    }
                }
                &.view-gradall {
                    background-color: $darkGreen;
                    color: white;
                    height: 35px;

                    .icon-wrapper {
                        transform: scale(1.4);
                    }
                }
                &.view-two-old-dogs {
                    background-color: #495b90;
                    color: white;

                    .icon-wrapper {
                        transform: scale(0.5);
                    }
                }
                &.quora {
                    background-color: #b72831;
                    color: white;
                    padding: 10px 20px;
                    .icon-wrapper {
                        margin-left: 5px;
                        height: 15px;
                        width: 15px;
                    }
                }
            }
            .thumbnails {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                overflow: visible;
                position: relative;
                z-index: 999999;
                img {
                    height: 100px;
                    width: auto;
                    border-radius: 12px;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.4);
                        transition: all 0.4s ease;
                        position: relative;
                        z-index: 999999;
                    }
                }
            }
        }
    }
}
