$background: #282a36;
$current-line: #6272a4;
$selection: #44475a;
$sectionBg: #44475ab6;
$sectionBorder: #51546bd7;
$darkerBorder: #393b4d;
$border: #2f313f;
$foreground: #f8f8f2;
$comment: #6272a4;
$red: #ff5555;
$orange: #ffb86c;
$yellow: #f1fa8c;
$green: #50fa7b;
$darkGreen: #2ac075;
$cyan: #8be9fd;
$darkCyan: #8be8fd60;
$purple: #bd93f9;
$darkPurple: #8127ff;
$darkestPurple: #5a00d8;
$darkerPurple: #6a00ff;
$pink: #ff79c6;
