@layer responsive {
    .App {
        @media screen and (min-width: 701px) {
            #floating-buttons {
                display: none !important;
            }
        }
        // Mobile
        @media (max-width: 700px) {
            * {
                &:hover {
                    transform: none !important;
                }
            }
            .years-roller {
                height: 55px !important;
                width: 55px !important;
            }
            .modal {
                width: 90vw !important;
            }
            .skeleton {
                margin: 0 !important;
                width: 100vw !important;
                padding: 0 15px !important;
                .section-content {
                    padding: 8px 0 0 0 !important;
                }
                #work-history {
                    .job {
                        .job-title,
                        .job-company-name {
                            flex-wrap: wrap !important;
                            font-size: 16px !important;

                            span {
                                width: 100% !important;
                                line-height: 1.4 !important;
                            }
                        }
                        .dates {
                            font-size: 14px !important;
                        }
                    }
                }
                #education {
                    .awards {
                        grid-template-columns: 1fr 1fr !important;
                        .award {
                            .value {
                                line-height: 1.5 !important;
                            }
                        }
                    }
                }

                .section {
                    &#portfolio {
                        .flex {
                            flex-wrap: wrap !important;
                        }
                    }
                }

                #menu {
                    // display: none !important;
                    // width: 130vw !important;
                    mask-image: linear-gradient(to left, transparent 0%, black 20%);
                    mask-repeat: no-repeat;
                    mask-size: 100% 100%;
                    overflow: auto !important;
                    overflow-x: hidden !important; /* Enables horizontal scroll */
                    white-space: nowrap !important;
                    scroll-padding-left: 1rem !important;
                    scroll-padding-right: 100px !important;
                    // min-width: 170% !important;
                    #menu-items {
                        overflow-x: auto !important; /* Enables horizontal scroll */
                        white-space: nowrap !important;
                        padding: 0 20px !important;
                        padding-right: 100px !important;

                        gap: 0 25px !important;
                        overflow: auto;
                        display: flex !important;
                        // justify-content: center !important;

                        padding: 0 1rem !important; /*  space for first/last item */
                        margin: 0 -1rem !important;
                        .menu-item {
                            width: 90px !important;
                            margin: 0 15px !important;
                            // margin-bottom: 20px !important;
                            // flex: 0 0 auto !important;
                            span {
                                width: max-content;
                            }
                        }
                    }
                }
                #years-experience-wrapper {
                    position: relative !important;
                    margin: 0 auto !important;
                    width: 100% !important;
                    right: unset !important;
                    top: unset !important;
                }

                #skills {
                    grid-template-columns: 1fr 1fr 1fr 1fr !important;
                    justify-content: center !important;
                    max-width: unset !important;
                    gap: 10px !important;

                    .skill {
                        aspect-ratio: 1 / 1 !important;
                        margin: 0 !important;

                        .icon-wrapper {
                            &.expand-icon {
                                transform: scale(0.8) !important;
                                bottom: 5px !important;
                                right: 8px !important;
                            }
                        }
                    }
                }
            }
            #header {
                * {
                    text-align: center !important;
                    justify-content: center !important;
                }
                h4 {
                    margin: 10px auto !important;
                }
                .flex {
                    display: block !important;
                    .left {
                        .name {
                            // display: block !important;
                            white-space: nowrap !important;
                            flex-wrap: wrap !important;
                            .role {
                                padding-top: 5px !important;
                                line-height: 1.4 !important;
                            }
                            .separator {
                                display: none;
                            }
                        }
                    }
                    .right {
                        display: none !important;
                    }
                }
            }
        }
    }
}
